.animation {
    animation: swap 1s forwards;
    margin: 0 !important;
}

@keyframes swap {
    0%   {width: 0; opacity: 0;}
    100% {width: 100%}
}

.animation2 {
    animation: swap2 2s forwards;
}

@keyframes swap2 {
    0%   {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}