.animation {
    animation: swap 1s forwards;
    margin: 0 !important;
}

@keyframes swap {
    0%   {width: 0; opacity: 0;}
    100% {width: 100%}
}

.animation2 {
    animation: animation2 2s forwards;
}
@keyframes animation2 {
    0%   {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}


.switchPage {
    animation: moving 1s forwards;
}
@keyframes moving {
    0%   {transform: translateY(0px);}
    100% { transform: translateX(100%); opacity: 0;}
}

.drawing {
    animation: drawing 1s forwards;
}
@keyframes drawing {
    0%   {transform: translateY(100%);}
    100% { transform: translateX(0);}
}


.displayDatas {
    animation: displayDatas 1s forwards;
}
@keyframes displayDatas {
    0%   {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}