.leJoueur {
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
}
.leJoueur:hover {
    color: #FFF;
}

.table-secondary th {
    cursor: pointer;
}
.table-secondary span {
    padding: 15px;
}